<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>HMS - Django</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  {% include "hospital/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Diet plans!</h3>
    <div class="container">
      <div class="row">
        <!-- Loop through your data and generate cards -->
        {% for i in data %}
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{i.dietname}}</h5>
              <p class="card-text">{{i.description}}</p>
              <a class="card-text" href="{{i.link}}">{{i.link}}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </center><br>
  {% include "hospital/footer.html" %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
